    
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: black;
    color: white;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.display {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
background-color:  #303030;;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.left {

    width: 30vw;
    padding: 10px;
}
.p-1{
    padding: 10px;
}
.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    padding: 23px 14px;
   align-items: center;
   font-size: 13px;
}
.library{
    min-height: 80vh;
    position: relative;
}
.heading img{
    width: 27px;
}

.footer{
display: inline-flex;
font-size: 10px;
color: grey;
position: absolute;
bottom: 0;
gap: 13px;
padding: 10px 0;
/* align-items: center */
}
.footer a{
    color: grey;
    gap: 10px;

}

.right {
    width: 70vw;
    margin: 16px 0;
    position: relative;
    

}
.header{
    height: 72px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.header >*  {
    padding: 20px;
}
.spotifyplaylists{
    padding: 20px;
    
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: a;
    max-height: 70vh;

}
 .card{
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}
.play{
    position: absolute;
    top: 138px;
    right: 27px;
    opacity: 1;
    transition: all 1s ease-in-out;
    
    
    
}
.button>*{
    margin: 0 12px;
}
.signup-btn{
    background-color: #252525;
    color: gray;
    font-weight:bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.songbuttons img{
    cursor: pointer;
}
.signup-btn:hover{

    color: white;
    font-size: 17px;
}
.login-btn{

    background-color: white ;
    border-radius: 21px;
    color: black;
    
    padding: 10px;
    width: 79px;
    cursor: pointer;
}
.login-btn:hover{

    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.abovebar{
    display: flex;
    justify-content:space-between;
    margin: 20px 0;
    /* gap: 51px; */
}
.songinfo, .songtime{
    color: black;
    padding: 0 12px;
}
 
.playbar{
    position: fixed;
    bottom: 30px ;
    filter: invert(1);
    border-radius: 10px;
    background-color: #dad5d5;
    width: 90%;
    width: 67vw;
    padding: 12px;
    height: 40px;
}
.seekbar{
    height: 4px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    background: black;
    position: absolute;
    bottom: 0;
    margin: 6px;
    
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
    
}
.hamburger{
    display: none;
}
.hamburgerContainer{
    justify-content: center;
    align-items: center;
    gap: 14px;
    display: flex;
}

.songList{
    height: 544px;
    margin-bottom: 44px ;
    overflow: auto;
}
.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display:flex;
    cursor: pointer;
    padding:12px 0;
    border-radius: 5px;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    gap: 10px;
    justify-content: space-between;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;

}
.playnow span{
    font-size: 14px;
    width: 64px;
    padding: 12px;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.card >*{
 padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.nav{
    display: flex;
    
}
.nav {
 width: 30px;
}
@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

 

    
}